<!DOCTYPE html>
{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block bootstrap3_title %}EncurtadorUrl{% endblock %}

{% block bootstrap3_content %}
{% block content %}
<div class="container" id="main">
    <h1>{% block title %} Lista de urls {% endblock %}</h1>

    {% if url_list %}

<div class="container" id="main">
      {% for url in url_list %}

    <ul class="list-inline">
      <li class="list-inline-item">
        {{ url.url_name }}
      </li>
      <li class="list-inline-item">
        <a href="{{ "/encurtador/?code=" }}{{url.code}}"> {{ "ecurtador/?code=" }}{{url.code}} </a>
      </li>

    </ul>
      {% endfor %}


    {% else %}
      <p>Nenhuma url salva</p>
    {% endif %}
    <p>{% bootstrap_button "Voltar" button_type=link href='/'%}</p>
  </div>
</div>

{% endblock %}
{% endblock %}
