<!DOCTYPE html>
{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_title %}EncurtadorUrl{% endblock %}
{% block bootstrap3_content %}
{% block content %}
<div class="container" >
    <h1>{% block title %} Nova Url {% endblock %}</h1>
        <form action="encurtar" method="post">
        <ul>
          <li> Url original: {{ url_name }} </li>
          <li> Url nova: <a href="/encurtador/?code={{ code }}"> /encurtador/?code={{ code }} </a></li>
        </ul>
        <p>{% bootstrap_button "Voltar" button_type=link href='/'%}</p>
</div>


{% endblock %}
{% endblock %}
